/* animation */
/* layout grid */
/* colors */
/* gradient */
body {
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  display: block;
}

svg {
  display: block;
}

/* delete list marks, margins and padding */
.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

/* END delete list marks, margins and padding */
/* delete links underline */
.link {
  text-decoration: none;
}

/* END delete links underline */
/* visualy-hidden */
.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* END visualy-hidden */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--no-bottom {
  padding-bottom: 0;
}

.section--gray {
  background-color: #f5f4fa;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.button {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--primary {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button--primary:hover, .button--primary:focus {
  background-color: #188ce8;
}

.button--radio {
  height: 38px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background-color: #f5f4fa;
}

.button--radio:hover, .button--radio:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button--close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--close:hover, .button--close:focus {
  color: #2196f3;
}

.button__icon {
  fill: currentColor;
}

.button__icon--end {
  margin-left: 10px;
}

.socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item:nth-child(n + 2) {
  margin-left: 10px;
}

.socials__icon-thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__icon-thumb--light {
  color: #afb1b8;
}

.socials__icon-thumb--light:hover, .socials__icon-thumb--light:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.socials__icon-thumb--dark {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__icon-thumb--dark:hover, .socials__icon-thumb--dark:focus {
  background-color: #2196f3;
}

.socials__icon {
  fill: currentColor;
}

.logo {
  display: inline-block;
  font-family: 'raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.logo__studio {
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover > .logo__studio {
  color: #2196f3;
}

.logo__studio--footer {
  color: #ffffff;
}

.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigate__list {
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigate__item {
  position: relative;
}

.navigate__item:nth-child(n + 2) {
  margin-left: 50px;
}

.navigate__link {
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigate__link:hover, .navigate__link:focus {
  color: #2196f3;
}

.navigate__link--current {
  color: #2196f3;
}

.navigate__link--current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__header-item:nth-child(n + 2) {
  margin-left: 50px;
}

.contacts__footer-item:nth-last-child(n + 2) {
  margin-bottom: 9px;
}

.contacts__link {
  white-space: nowrap;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__link--direction {
  color: #ffffff;
}

.contacts__link--opacity {
  color: rgba(255, 255, 255, 0.6);
}

.contacts__icon {
  fill: currentColor;
}

.contacts__icon--start {
  margin-right: 10px;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer__item:nth-child(2) {
  margin-left: 70px;
}

.page-footer__item:nth-child(3) {
  margin-left: 93px;
}

.page-footer__logo {
  margin-bottom: 20px;
}

.page-footer__cta {
  margin-bottom: 20px;
  display: block;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.newsletter-form {
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter-form__input {
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: inherit;
}

.newsletter-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.newsletter-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.newsletter-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.newsletter-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bcg-hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  max-width: 696px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.features {
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  width: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.features__icon-thumb {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
}

.works {
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item {
  position: relative;
  width: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.works__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  width: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__content {
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;
}

.team__title,
.team__text {
  margin-top: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  color: #212121;
}

.team__text {
  margin-bottom: 16px;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customers__item:nth-child(n + 2) {
  margin-left: 30px;
}

.customers__icon-thumb {
  width: 170px;
  height: 92px;
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__icon-thumb:hover, .customers__icon-thumb:focus {
  color: #2196f3;
}

.customers__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden > .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.6);
          transform: translate(-50%, -50%) scale(1.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  max-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order-form__cta {
  margin-bottom: 30px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.order-form__field {
  position: relative;
  width: 100%;
  margin-bottom: 28px;
  display: block;
}

.order-form__field--textarea {
  margin-bottom: 20px;
}

.order-form__label {
  position: absolute;
  top: -16px;
  left: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.order-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-right: 12px;
  padding-left: 42px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #212121;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.order-form__field:focus-within .order-form__input {
  border-color: #2196f3;
  -webkit-box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #000000;
          box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #000000;
}

.order-form__input--textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.order-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__field:focus-within .order-form__icon {
  fill: #2196f3;
}

.order-form__checkbox-field {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-form__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.order-form__checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid #000000;
  border-radius: 2px;
  display: block;
  color: transparent;
  background-color: #ffffff;
}

.order-form__check:focus + .order-form__checkbox {
  -webkit-box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #000000;
          box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #000000;
}

.order-form__check:checked + .order-form__checkbox {
  border: none;
  color: #ffffff;
  background-color: #2196f3;
}

.order-form__checkbox-icon {
  fill: currentColor;
}

.order-form__form-link {
  color: #2196f3;
}

.filter {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__item:nth-child(n + 2) {
  margin-left: 8px;
}

.portfolio {
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__card {
  width: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link {
  display: block;
}

.portfolio__image-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__image-text {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card:hover .portfolio__image-text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio__caption {
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */