.button {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: $black-primary-color;
  background-color: $white-primary-color;
  cursor: pointer;

  transition: background-color $primary-animation, color $primary-animation,
    box-shadow $primary-animation;
}

.button--primary {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $white-primary-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    background-color: $primary-btn-hover-color;
  }
}

.button--radio {
  height: 38px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: $grey-secondary-color;
  background-color: $white-secondary-color;

  &:hover,
  &:focus {
    color: $white-primary-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button--close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: $modal-btn-border-color;

  color: $black-primary-color;
  background-color: $white-primary-color;
  cursor: pointer;

  transition: color $primary-animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.button__icon {
  fill: currentColor;
}

.button__icon--end {
  margin-left: 10px;
}
