.contacts {
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;

  @media screen and (max-width: ($container-width-desctop - 1px)) {
    font-size: 12px;
  }
  @media screen and (min-width: $container-width-desctop) {
    line-height: 1.14;
  }
}

.contacts--header {
  display: none;

  @media screen and (min-width: $container-width-tablet) {
    display: block;
  }
  @media screen and (min-width: $container-width-desctop) {
    display: flex;
  }
}

.contacts__header-item {
  &:nth-child(n + 2) {
    @media screen and (min-width: $container-width-desctop) {
      margin-left: 50px;
    }
  }
}

.contacts__footer-item {
  &:nth-last-child(n + 2) {
    margin-bottom: 8px;

    @media screen and (min-width: $container-width-desctop) {
      margin-bottom: 9px;
    }
  }
}

.contacts__link {
  white-space: nowrap;
  color: $grey-primary-color;

  transition: color $primary-animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts__link--flex {
  @media screen and (min-width: $container-width-tablet) {
    padding-top: 5px;
    padding-bottom: 5px;

    display: flex;
    align-items: center;
  }
}

.contacts__link--direction {
  color: $white-primary-color;
}

.contacts__link--opacity {
  color: $white-primary-opacity-color;
}

.contacts__icon {
  fill: currentColor;

  @media screen and (max-width: ($container-width-desctop - 1px)) {
    width: 14px;
    height: 14px;
  }
}

.contacts__icon--start {
  margin-right: 10px;
}
