.customers {
  margin-top: -30px;
  margin-left: -30px;

  display: flex;
  flex-wrap: wrap;
}

.customers__item {
  width: calc((100% / 2) - 30px);
  margin-top: 30px;
  margin-left: 30px;

  @media screen and (min-width: $container-width-tablet) {
    width: calc((100% / 3) - 30px);
  }
  @media screen and (min-width: $container-width-desctop) {
    width: calc((100% / 6) - 30px);
  }
}

.customers__icon-thumb {
  height: 92px;
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $icon-primary-color;

  transition: color $primary-animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.customers__icon {
  fill: currentColor;
}
