.features {
  margin-top: -30px;

  @media screen and (min-width: $container-width-tablet) {
    margin-left: -30px;

    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  margin-top: 30px;

  @media screen and (min-width: $container-width-tablet) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: $container-width-desctop) {
    width: calc(100% / 4 - 30px);
  }
}

.features__icon-thumb {
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $white-secondary-color;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $grey-secondary-color;

  @media screen and (max-width: ($container-width-tablet - 1px)) {
    text-align: center;
  }
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
}
