.hero {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  text-align: center;

  background-color: $grey-footer-color;
  background-image: linear-gradient($hero-background-gradient), url(../images/bcg-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: $container-width-desctop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  @media screen and (min-width: 1600px) {
    background-size: contain;
  }
}

.hero__title {
  max-width: 360px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $white-primary-color;

  @media screen and (min-width: $container-width-desctop) {
    max-width: 696px;

    font-size: 44px;
    line-height: 1.36;
  }
}
