.navigate {
  display: flex;
  align-items: center;
}

.navigate__list {
  margin-left: 93px;

  display: flex;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigate__item {
  position: relative;

  &:nth-child(n + 2) {
    margin-left: 50px;
  }
}

.navigate__link {
  color: $grey-secondary-color;

  transition: color $primary-animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigate__link--current {
  color: $accent-color;

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $accent-color;
  }
}
