.newsletter-form {
  max-width: 450px;
  width: 100%;

  display: flex;
  align-items: center;

  @media screen and (max-width: ($container-width-tablet - 1px)) {
    flex-direction: column;
  }
}

.newsletter-form__input {
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $white-primary-color;
  background-color: inherit;

  &::placeholder {
    color: $white-primary-opacity-color;
  }

  @media screen and (min-width: $container-width-tablet) {
    margin-right: 12px;
  }
}
