.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $grey-footer-color;
}

.page-footer__container {
  display: flex;
  align-items: center;
}

.page-footer__item {
  &:nth-child(2) {
    margin-left: 70px;
  }

  &:nth-child(3) {
    margin-left: 93px;
  }
}

.page-footer__logo {
  margin-bottom: 20px;
}

.page-footer__cta {
  margin-bottom: 20px;
  display: block;

  line-height: 1.14;
  text-transform: uppercase;
  color: $white-primary-color;
}
