.page-header {
  min-width: 320px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $header-border-color;
}

.page-header__container {
  min-height: 59px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $container-width-tablet) {
    min-height: 79px;
  }
}

.page-header__link {
  @media screen and (min-width: $container-width-tablet) {
    padding-top: 32px;
    padding-bottom: 31px;

    display: block;
  }
}

.page-header__menu-burger {
  @media screen and (min-width: $container-width-tablet) {
    display: none;
  }
}
