.section {
  min-width: 320px;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $container-width-desctop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-top {
  padding-top: 0;
}

.section--gray {
  background-color: $white-secondary-color;
}

.section--desctop {
  display: none;

  @media screen and (min-width: $container-width-desctop) {
    display: block;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  color: $grey-secondary-color;

  @media screen and (min-width: $container-width-desctop) {
    margin-bottom: 50px;

    font-size: 36px;
  }
}
