.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--no-bottom {
  padding-bottom: 0;
}

.section--gray {
  background-color: $white-secondary-color;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: $grey-secondary-color;
}
