.team {
  @media screen and (min-width: $container-width-tablet) {
    margin-top: -30px;
    margin-left: -30px;

    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  margin-top: 30px;
  border-radius: 0px 0px 4px 4px;

  background-color: $white-primary-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: $container-width-tablet) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: $container-width-desctop) {
    width: calc(100% / 4 - 30px);
  }
}

.team__image {
  width: 100%;
}

.team__content {
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;

  text-align: center;
}

.team__title,
.team__text {
  margin-top: 0;

  font-size: 16px;
  line-height: 1.19;
}

.team__title {
  margin-bottom: 10px;

  font-weight: 500;
  color: $grey-secondary-color;
}

.team__text {
  margin-bottom: 16px;
}
