/* animation */
$primary-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
/* layout grid */
$container-width: 1200px;
$container-indent: 15px;
/* colors */
$accent-color: #2196f3;
$primary-btn-hover-color: #188ce8;
$black-primary-color: #000000;
$white-primary-color: #ffffff;
$white-primary-opacity-color: rgba(255, 255, 255, 0.6);
$white-secondary-color: #f5f4fa;
$grey-primary-color: #757575;
$grey-secondary-color: #212121;
$grey-footer-color: #2f303a;
$header-border-color: #ececec;
$portfolio-card-border-color: #eeeeee;
$portfolio-card-text-bcg-color: rgba(33, 150, 243, 0.9);
$icon-primary-color: #afb1b8;
$icon-secondary-color: rgba(255, 255, 255, 0.1);
$modal-btn-border-color: rgba(0, 0, 0, 0.1);
/* gradient */
$hero-background-gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
